<div>
	<div>
		<p>title:<%=@book.title %></p>
		<p>body:<%=@book.body %></p>
		 <%= f.submit "up date",edit_book_path(@book) %>
		<%= link_to "show",edit_book_path(@book) %>
		<%= link_to "back",books_book_path(@book) %>
	</div>
</div>